@import "../../styles/styles";

.bookRow {
  border: 2px solid $orange-pantone;
  border-radius: 0.5rem;
  // padding: 1.5rem 0.5rem;
  background-color: $white;
}

.title-header-wrapper {
  h5 {
    padding: 0;
    margin: 0;
    a {
      color: $orange-pantone;
    }
  }
  background: $gray-200;
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.info-wrapper {
  padding: 1rem;
}

.bookRow:last-child {
  margin-bottom: 2rem;
}
