$orange-pantone: #ff5400;
$pumpkin: #ff6d00;
$dark-orange: #ff8500;
$yellow-orange-color-wheel: #ff9100;
$orange-peel: #ff9e00;
$cerulean-crayola: #00b4d8;
$blue-green: #0096c7;
$star-command-blue: #0077b6;
$dark-cornflower-blue: #023e8a;
$navy-blue: #03045e;
$white: #fff;
$black: #000;
$blue-violet-color-wheel: #502274;
