@import "../../styles/colors";

.navBackground {
  border-bottom: 1px solid $dark-cornflower-blue;
  background-color: $blue-violet-color-wheel;
  color: $white;
  font-weight: 400;
  a {
    color: $white;
  }
}
